:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 0;
  overflow-x: hidden;
  font-family: "Balsamiq Sans", cursive;
  max-height: 100vh;
  overflow-y: hidden;
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  font-family: Helvetica;
  color: #fff;
}

.bg-video {
  position: fixed;
  right: 0;
  z-index: -1;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  /* transform: translateX(calc((100% - 100vw) / 2)); */
  background-image: url("./bg-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  background-attachment: fixed;
}

.tek-video {
  position: absolute;
  bottom: 70px;
  left: 70px;
  width: 400px;
  height: 400px;
  padding-right: 4.25rem;
  max-width: 80%;
  display: inline;
}
@media screen and (max-width: 768px) {
  .tek-video {
    display: none;
  }
}
canvas {
  z-index: -1;
  overflow-y: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
  height: 100vh;
}
.volume {
  width: 120px;
  z-index: 100;
}
.muteBtns {
  display: flex;
  justify-content: center;
  position: absolute;
}
.reject {
  width: 50px;
  right: 2rem;
  position: relative;
  display: none;
}
.hammer {
  width: 75px;
  display: none;
  left: 4rem;
  position: relative;
}
.click {
  position: sticky;
  z-index: 1000;
  bottom: 200;
  left: 50;
}
